@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #031224;
  --primary-color-light: #051d3b;
  --primary-color-extra-light: #152d5e;
  --primary-color-dark: #2a66b0;
  --secondary-color: #66fcf1;
  --secondary-color-dark: #45a29e;
  --text-light: #c5c6c7;
  --white: #ffffff;
  --btncolor: #001a33;
  --btncolor-light: #45c4ff;
  --max-width: 1400px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 15rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo {
  max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--white);
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.link a:hover::after {
  width: 75%;
}

.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__container::before {
  content: "FITNESS";
  position: absolute;
  bottom: 20rem;
  right: 8rem;
  font-size: 20rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--text-light);
  opacity: 0.05;
  z-index: -1;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--white);
}

.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__image {
  position: relative;
}

.header__image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--secondary-color);
  opacity: 0.1;
  z-index: -1;
}

.header__image img {
  max-width: 350px;
  margin: auto;
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.explore__card a {
  color: var(--white);
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color);
}

.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
}

.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 550px;
  border-radius: 10px;
}

.class__image .class__img-2 {
  position: relative;
  left: 0rem;
  bottom: 0rem;
  top: 15rem;
  max-width: 250px;
  border-radius: 30px;
  border: 5px solid black;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  max-width: 800px;
}

.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
}

.join__image {
  margin-top: 1rem;
  position: relative;
  z-index: -1;
}

.join__image img {
  border-radius: 10px;
}

.join__grid {
  position: relative;
  max-width: 85rem;
  padding: 1rem;
  margin: 2rem;
  margin-top: -6rem;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--primary-color-light);
  border-radius: 10px;
}

.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span {
  padding: 5px 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.join__card p {
  color: var(--text-light);
  max-width: 250px;
}

.price__header {
  margin-left: 130px;
}

.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.most__popular {
  color: var(--white);
  padding: 2.96rem 1.96rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border: 6px solid var(--secondary-color-dark);
  border-radius: 10px;
  transition: 0.3s;
}

.most__popular:hover {
  background-color: var(--primary-color-extra-light);
  border: 6px solid var(--secondary-color);

  .most__popular__h2 {
    background-color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
  }
}

.most__popular__content {
  flex: 1;
  margin-bottom: 2rem;
}

.most__popular h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.most__popular h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.most__popular p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

.most__popular p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.most__popular__h2 {
  padding: 5px;
  background-color: var(--secondary-color-dark);
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -50px;
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.price__card p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.price__btn {
  position: absolute;
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

.price__btn:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.btn1 {
  margin-top: 110px;
}

.btn1h {
  margin-top: 185px;
}

.btn2 {
  margin-top: 70px;
}

.btn5 {
  margin-top: 10px;
}

.btn4h {
  margin-top: 37px;
}

.btn5h {
  margin-top: 5px;
}

.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(4, 1fr);
  padding-bottom: 0;
  gap: 1rem;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
}

.footer__col>a {
  font-size: 0.7rem;
  display: flex;
  margin-bottom: 0.6rem;
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col>a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  max-width: var(--max-width);
  margin: 0;
  padding-left: 0;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  color: var(--white);
}

.current__status {
  margin-left: 190px;
  max-width: 1330px;
  background-color: var(--primary-color-light);
  padding: 30px;
}

.current__status h3 {
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 25px;
  color: var(--white);
}

.since__expire {
  font-size: 15px;
  color: var(--text-light);
}

.date {
  font-size: 16px;
  color: var(--text-light);
}

.renew {
  margin-top: 50px;
}

.cancel {
  float: right;
  margin-top: 50px;
}

.btn__m {
  float: right;
}

.register__body {
  background: linear-gradient(to right, var(--btncolor-light), var(--btncolor));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.register__container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px black;
  position: relative;
  overflow: hidden;
  width: 780px;
  max-width: 100%;
  min-height: 480px;
}

.register__container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.register__container span {
  font-size: 12px;
}

#FYP {
  color: black;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

#formbtr{
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  border: 1px solid transparent;
  font-size: 12px;
  color: var(--white);
  background-color: #152d5e;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

#formbtr:hover {
  background-color: var(--primary-color-light);
}


.hidden {
  background-color: transparent;
  border: 1px solid white;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.register__container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.register__container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 0px 15px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  height: 30px;
  outline: none;
}

.form__container {
  position: absolute;
  top: 0;
  width: 53%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign__in {
  left: 0;
  width: 50%;
  z-index: 10;
}

.register__container.active .sign__in {
  transform: translateX(100%);
}

.sign__up {
  width: 50%;
  opacity: 0;
  z-index: 0;
}

.register__container.active .sign__up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.social__icons {
  margin: 20px 0;
}

.social__icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px 18px;
}

.toggle__container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.register__container.active .toggle__container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  height: 100%;
  background: linear-gradient(to right,
      var(--primary-color-extra-light),
      var(--primary-color-dark));
  color: var(--white);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.register__container.active .toggle {
  transform: translateX(50%);
}

.toggle__panal {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3px;
  text-align: center;
  transform: translateX(0);
  transition: all 0, 6s ease-in-out;
}

.toggle__left {
  transform: translateX(200%);
}

.register__container.active .toggle__left {
  transform: translateX(0);
}

.toggle__right {
  right: 0;
  transform: translateX(0);
}

.register__container.active .toggle__right {
  transform: translateX(200%);
}

.second__links {
  right: 0;
}

.icon-small,.icon-large {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}

.class__image .class__img{
  position: absolute;
  left: 0;
  margin-top: 45px;
  max-width: 550px;
  border-radius: 10px;
}

.class__grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  
}

.class__card {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color-dark);
  border-radius: 10px;
  transition: 0.3s;
  width: 740px;
}

.class__card__content{
  flex: 1;
  text-align: center;
}

.class__card__content h4{
  color: var(--white);
  font-size: 22px;
  text-align: center;
}

.class__card__content h3{
  color: var(--white);
  font-size: 18px;
  text-align: center;
}

.class__card__content p{
  color: var(--text-light);
  font-size: 16px;
  text-align: center;
}

.btn__form{
  padding: 10px 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
  border: 4px solid var(--btncolor-light);
}

.btn__form:hover {
  background-color: var(--btncolor-light);
}

.date__container{
  text-align: center;
}

.date__form{
  margin-left: 37%;
  background-color: var(--primary-color-dark);
  border-radius: 30px;
  box-shadow: 0 5px 15px black;
  position: relative;
  overflow: hidden;
  width: 380px;
  max-width: 100%;
  min-height: 230px;
}

.date__form form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.date__form label{
  color: var(--white);
  font-size: 15px;
  text-align: center;
}

.date__form input{
  background-color: var(--white);
  border: none;
  margin: 8px 0;
  padding: 0px 15px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  height: 30px;
  outline: none;
}

.fill__container{
  text-align: center;
}

.fill__form{
  padding: 60px ;
  margin-top: 40px;
  background-color: var(--primary-color-dark);
  border-radius: 30px;
  box-shadow: 0 5px 15px black;
  position: relative;
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 300px;
}

.fill__form form{
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  margin-right: 130px;
  height: 100%;
}

.form__fill__group textarea{
  background-color: var(--white);
  border: none;
  margin: 8px 0;
  margin-left: 30px;
  font-size: 15px;
  border-radius: 8px;
  width: 400px;
  height: 100px;
  outline: none;
}



.form__fill__group label{
  color: var(--white);
  font-size: 15px;
  text-align: left;
  margin-right: 10px;
}

#healthl{
  margin-right: 120px;
}

.form__fill__group{
  text-align: right;
}

.payment__form{
  padding: 60px ;
  text-align: right;
  margin-top: 40px;
  background-color: var(--primary-color-dark);
  border-radius: 30px;
  box-shadow: 0 5px 15px black;
  position: relative;
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 300px;
}

.payment__form form{
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  margin-right: 110px;
  height: 100%;
}

.form__pay__group label{
  color: var(--white);
  font-size: 15px;
  text-align: right;
  margin-right: 10px;
}

.payment__form input[type="submit"]{
  padding: 10px 80px;
  margin-right: -50px;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--btncolor);
  border: 4px solid var(--btncolor-light);
}

.payment__form input[type="submit"]:hover{
  background-color: var(--btncolor-light);
}

.shop__container {
  max-width: 1400px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.product__header {
  color: var(--white);
  margin-bottom: 70px;
  font-size: 40px;
  align-items: center;
}

.product__header__h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 30px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.col-1{
  background-color: #45a29e;
  flex-basis: 20%;
  border-radius: 8px;
  padding: 15px;
  min-width: 250px;
  margin-bottom: 50px;
}

.col-1 h4{
  color: var(--white);
  text-align: left;
  font-size: small;
}

.col-1 img{
  width: 100%;
  height: 190px;
}

#buybtn{
  color: var(--white);
  background-color: var(--primary-color-dark);
  padding: 4px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#buybtn:hover{
  background-color: var(--primary-color-extra-light);
}

#nameMessage, 
#passwordMessage,
#emailMessage{
  font-size: 10px;
}

#goback{
  color: black;
}


@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    grid-area: 1/1/2/2;
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .class__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .class__image {
    min-height: 500px;
  }

  .price__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .review__container {
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: 1fr 200px;
  }
}

@media (width < 600px) {
  .explore__header {
    flex-direction: column;
  }

  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .join__container {
    margin-bottom: 15rem;
  }

  .join__grid {
    width: 100%;
    margin: 0;
    bottom: -20rem;
  }

  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .review__container {
    flex-direction: column;
    gap: 0;
  }

  .review__footer {
    flex-direction: column;
  }

  .footer__container {
    grid-template-columns: 1fr 150px;
  }

  .footer__bar {
    text-align: center;
  }
}